
<div class="container mt-50">
 
  <div class="row">
    <h1 class="text-center text-uppercase">Video Library</h1>
  </div>
  

 <div class="col-md-2 ml-auto pb-3 pt-3">
  <div class="position-relative search-input">
      <input type="text" class="form-control py-2" [(ngModel)]="searchQuery" placeholder="Search">
      <i class="position-absolute bi bi-search"></i>
    </div>
  
</div>

  <div class="row gap-15">
    <ng-container *ngFor="let video of videos">
  <div class="card col-md-4 col-sm-12" *ngIf="video.title.toLowerCase().includes(searchQuery.toLowerCase()) 
  || video.description.toLowerCase().includes(searchQuery.toLowerCase()) 
  || video.author.toLowerCase().includes(searchQuery.toLowerCase())">
      
      <div class="card-body btn  rounded" mat-button (click)="playVideo(video.id)">
        <div style="height: 200px;">
        <img [src]="video.thumbnailUrl" class="img-thumbnail border-danger"  alt="Video Thumbnail" style="max-height: 200px;">
      </div>
      <div class="" style="min-height: 250px;">
        <h2 class="card-title mt-3" >{{ video.title }}</h2>
        <p class="card-text text-justify">{{ video.description }}</p>
      </div>

      <p class="text-right" *ngIf="video.isLive==true"> <i class="bi bi-record-circle btn btn-outline-danger disabled"></i></p>
      
      <div class="row">
        <p class="text-left border-right-0" style="width: 60%;"> <i class="bi bi-pencil"></i> {{ video.author }} </p>
        <p class="text-right"  style="width: 40%;"> {{ video.uploadTime }} <i class="bi bi-calendar3"></i> </p>
      </div>

      <div class="row">
        <p class="text-left" style="width: 50%;"> <i class="bi bi-caret-right-square"></i> {{ video.duration }} </p>
        <p class="text-right" style="width: 50%;"> {{ video.views }} <i class="bi bi-eye-fill"></i></p>
      </div>

      <p class="text-right">{{ video.subscriber }} <i class="bi bi-emoji-sunglasses-fill"></i></p>
       
      </div>
    
    </div>
</ng-container>
    

  </div>

</div>

  