.card {
    background: #283f48;
    color: white;
    width: calc(100%/3 - 10px);
}

.card:hover {
    color: white;
    background: black;
    }

.gap-15 {
    gap: 15px;
}

p.text-justify{
    text-align: justify;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}


.ml-auto{
    margin-left: auto;
}

.bi-search{
    top: 10px;
    right: -20px;
}

.mt-50 {
margin-top: 50px;
}
