<!-- <h1>Modal Content</h1>
<p>{{data}}This is the content of the modal.</p>
<button mat-button (click)="closeModal()">Close</button> -->

<div id="videoPlayer" ng-show="videoPlay == 1" class="text-center">
    <video id="videoElement" controls>
      <source [src]="data" type="video/mp4">
    </video>
  </div>